/* CartModal.css */
  
.cart-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
  z-index: 100;
}

.cart-modal.open {
  visibility: visible;
  opacity: 1;
}

.cart-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart-item {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-total {
  margin-top: 20px;
  text-align: right;
  font-weight: bold;
}

.close-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close-btn:hover {
  background-color: #0056b3;
}

.itemlist{
    display: flex;
    justify-content: space-between;
}