.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dashboard-container {
  padding: 20px;
  background: url('dashboard-background.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  text-align: center;
}

/* src/styles/login.css */
.login-container {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  text-align: center;
  background: url('login-background.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.register-container {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  text-align: center;
  background: url('register-background.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.supplier-management-container {
  padding: 20px;
  background: url('supplier-management-background.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
}

/* src/components/AddCategoryForm.css */
.custom-modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.custom-modal-content {
  width: 50%;
  height: 70%;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
/* src/pages/HomePage.css */
.home-page {
  background-image: url('path/to/your/image.jpg'); /* Replace with the path to your background image */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.content {
  text-align: center;
}

.content h1 {
  font-size: 2.5rem;
}

.content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

/* src/pages/HomePage.css */
.home-page {
  background-image: url('path/to/your/image.jpg'); /* Replace with the path to your background image */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.content {
  text-align: center;
}

.content h1 {
  font-size: 2.5rem;
}

.content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}
